In [3]:
import pandas_datareader.data as reader    # Para traer la data directamente de la página de Fama-French
import pandas as pd
import numpy as np
import os
from datetime import date
import yfinance as yf
import version_information
import matplotlib.pyplot as plt

In [1]:
285.43-77.48

207.95

In [4]:
tlt = yf.Ticker('tlt')

In [8]:
tlt.actions

                           Dividends  Stock Splits  Capital Gains
Date
2002-09-03 00:00:00-04:00      0.373           0.0            0.0
2002-10-01 00:00:00-04:00      0.343           0.0            0.0
2002-11-01 00:00:00-05:00      0.389           0.0            0.0
2002-12-02 00:00:00-05:00      0.389           0.0            0.0
2002-12-31 00:00:00-05:00      0.446           0.0            0.0
...                              ...           ...            ...
2023-07-03 00:00:00-04:00      0.278           0.0            0.0
2023-08-01 00:00:00-04:00      0.275           0.0            0.0
2023-09-01 00:00:00-04:00      0.289           0.0            0.0
2023-10-02 00:00:00-04:00      0.280           0.0            0.0
2023-11-01 00:00:00-04:00      0.286           0.0            0.0

[254 rows x 3 columns]

In [1]:
di = [{"Puppies": 17, 'Kittens': 9, "Birds": 23, 'Fish': 90, "Hamsters": 49}, {"Puppies": 23, "Birds": 29, "Fish": 20, "Mice": 20, "Snakes": 7}, {"Fish": 203, "Hamsters": 93, "Snakes": 25, "Kittens": 89}, {"Birds": 20, "Puppies": 90, "Snakes": 21, "Fish": 10, "Kittens": 67}]

In [6]:
di[0]['cal']

KeyError: 'cal'